<ul class="blog-style clearfix">
  <li class="clearfix">
    <h2>Log in</h2>
  </li>


<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal"}) do |f| %>
  <li class="clearfix">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "clearfix" %>
  </li>

  <li class="clearfix">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "clearfix" %>
  </li>

  <% if devise_mapping.rememberable? -%>
    <li class="clearfix">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </li>
  <% end -%>

  <li class="clearfix">
    <%= f.submit "Log in" %>
  </li>
<% end %>

  <%= render "accounts/shared/links" %>
</ul>
