<ul class="blog-style clearfix">
  <li class="clearfix">
    <h2>Sign up</h2>
  </li>

  <%= form_for(resource, as: resource_name, url: "/accounts", method: "post", html: {class: "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>
    <li class="clearfix">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "clearfix" %>
    </li>

    <li class="clearfix">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "clearfix" %>
    </li>

    <li class="clearfix">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "clearfix" %>
    </li>

    <li class="clearfix">
      <%= f.submit "Sign up" %>
    </li>
  <% end %>

  <%= render "accounts/shared/links" %>
</ul>
