<!DOCTYPE html>
<html>
<head>
  <title>BlogProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "/home/header" %>
<section class="main-content-sect">
  <%= yield %>
</section>
<%= render :partial => "/home/footer" %>

</body>
</html>
